.typewriter {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.typewriter__type {
  font-size: 32px;
  color: white;
}

.typewriter__cursor {
  width: 1px;
  background-color: #363636;
}
