.about {
  height: 100vh;
  width: 95%;
  margin-left: 5%;
  background-color: #101010;
}

.about-content {
  padding-top: 10vh;
  height: 50vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.about-content img {
  width: auto;
  height: 50vh;
  padding-right: 80px;
}

.about-right h3 {
  color: #009e66;
  font-size: 24px;
}

.about-right h2 {
  color: white;
  font-size: 31px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-right p {
  font-size: 15px;
  color: #9f9f9f;
}

.about-right hr {
  background-color: grey;
  height: 1px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.about-right-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-right-wrapper p {
  padding: 10px;
  color: #9f9f9f;
  font-size: 15px;
}

.about-right-wrapper span {
  color: white;
  font-size: 15px;
}

.social-links-about {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.social-links-about a {
  text-decoration: none;
  color: #009e66;
  font-size: 22px;
}

.socials-about {
  width: 40%;
  margin-top: 30px;
}

.about-bottom {
  height: 200px;
  width: 100%;
  background-color: #101010;
  display: none;
}

/* responsive */

@media screen and (max-width: 1400px) {
  .about {
    height: auto;
  }
  .about-bottom {
    display: block;
  }
  .about-content {
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .about-content {
    width: 80%;
    height: auto;
    display: block;
  }
  .about-left {
    width: 80%;
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin: 0 auto;
  }
  .about-left img {
    width: 400px;
    margin: 0 auto;
    padding: 0;
  }
  .about-right {
    margin-top: 200px;
    height: auto;
  }
  .socials-about {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
  }
}

@media screen and (max-width: 615px) {
  .about-right-wrapper {
    display: block;
  }
  .about-left img {
    height: auto;
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .socials-about {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .about-right-wrapper p {
    font-size: 12px;
  }
  .about-left img {
    width: 150px;
  }
}
